@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="cards-home-container">
        <a asp-controller="Agendamentos" asp-action="ListarAgendamentos">
            <div class="card" style="width: 18rem;">
                <img src="~/img/home-atendimento.jpg" class="card-img-top" alt="..." width="250" height="250">
                <div class="card-body">
                    <h5 class="card-title">Atendimento Agendado</h5>
                    <p class="card-text">Aqui você pode solicitar atendimento em horário agendado</p>
                </div>
            </div>
        </a>

        <div class="card" style="width: 18rem;">
            <img src="~/img/home-bus.jpg" class="card-img-top" alt="..." width="250" height="250">
            <div class="card-body">
                <h5 class="card-title">Compra de Passagens</h5>
                <p class="card-text">Compre passagens rodoviárias e reserve assentos numa frota de veículos pensada para o seu comforto</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/home-contato.jpg" class="card-img-top" width="250" height="250" alt="...">
            <div class="card-body">
                <h5 class="card-title">Contato</h5>
                <p class="card-text">Saiba como nos contactar</p>
            </div>
        </div>        
    </div>
</div>
