@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<header>
    <h3>@ViewData["Title"]</h3>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Identity/Account/Login", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-primary">Clique aqui para confirmar</button>
            </form>
        }
        else
        {
            <p>Você saiu da aplicação com sucesso</p>
        }
    }
</header>