body {
    /*background-image: url(../img/oficina-fundo.webp);
    background-attachment: fixed;*/
    background-color: #3b4752;
}

/*HOME PAGE*/
section {

}

    section#fundadores {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    section#contato {
        background-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

#introducao {
    padding: 0px 0;
}

    #introducao #introducao-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }

        #introducao #introducao-container #descricao {
            max-width: 100%!important;
        }


#servicos {
    padding: 30px 0;
    /*background-color: #f7f7f7;*/
}

    #servicos-container {
        padding: 20px 0;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

#servicos .card {
    margin: 1em;
}

#servicos .card-img-top {
    border-radius: 3.2em;
}


#fundadores {
    padding: 40px 0 10px 0;
    /*background-color: #f7f7f7;*/
}

    #fundadores #fundadores-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    #fundadores-container .card {
        border: none;
        background-color: transparent;
    }

    #fundadores-container .card-img {
        border-radius: 3.2em;
    }

#contato {
    /*background-color: #3D518C;*/
    padding: 40px 0;
}

    #contato #contato-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

.carousel-caption {
    background-color: black;
    opacity: 0.7;
    right: 0;
    left: 0;
}