@model NovaOrdemDeServicoViewModel
@{
    ViewData["Title"] = "Nova Ordem de Serviço";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Nova Ordem de Serviço</h1>
<hr />

<div class="col-sm-5">
    <form asp-controller="OrdensDeServico" asp-action="CriarOrdem" method="post">
        <div class="form-group">
            <label asp-for="ServicoId">Serviço<span class="text-danger">*</span></label>
            <select class="form-control"
                    asp-for="ServicoId"
                    asp-items="Model.Servicos">
                <option value="">-- Selecione um serviço --</option>
            </select>
            <span asp-validation-for="@Model.ServicoId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Data">Data<span class="text-danger">*</span></label>
            <input type="date" asp-for="Data" class="form-control" />
            <span asp-validation-for="@Model.Data" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Horário<span class="text-danger">*</span></label>
            <div class="d-flex flex-row flex-wrap">
                @for (int i = 8; i <= 18; i++)
                {
                    <div class="col-3">
                        <input type="radio" id="@i-opcao" name="horario" value="@i:00:00" asp-for="Horario" class="form-control-sm" />
                        <label for="@i-opcao" class="align-bottom">@i:00</label>
                    </div>
                }
            </div>
            <span asp-validation-for="@Model.Horario" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Criar" />
    </form>
</div>

<style>
    div.col-3:hover {
        background-color: lightgray;
        border-radius: 0.5em;
    }

    label {
        font-weight: bold;
    }
</style>