@{
    ViewData["Title"] = "Reserva de poltrona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" href="~/css/ListarPoltronas.css" />
}

@model ListarPoltronasViewModel

<div class="col col-10">
    <div class="card text-center">
        <div class="card-header text-primary font-weight-bold">
            R$ @Model.PrecoUnitario por poltrona
        </div>
        <div id="poltronas-container" class="card-body">
            @foreach (var poltrona in Model.Poltronas)
            {
                if (poltrona.Disponivel)
                {
                    <button data-poltrona-id="@poltrona.Id" type="button" class="btn btn-outline-success">@poltrona.Numero</button>
                }
                else
                {
                    <button disabled type="button" class="btn btn-danger">@poltrona.Numero</button>
                }
            }
        </div>
        <div class="card-footer">
            <button onclick="reservarPoltronas()" class="btn btn-primary">Confirmar</button>
            <a asp-controller="Viagens" asp-action="ListarViagens" class="btn btn-outline-danger">Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ListarPoltronas.js"></script>
}